.tekstit__container {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    gap: 4rem;
}

.tekstit__container > hr {
    border-color: #4188b9;
    opacity: 0.5;
}

.tekstit__container > div {
    flex-grow: 1;
}

.kieli-title {
    border-radius: 0%;
    background-color: #4188b9;
    color: white;
    border: 1px solid white;
    padding: 0.375rem 2rem;
    margin: 0.625rem 10px 0 0;
    width: fit-content;
}

.kieli-title_not_selected {
    border-radius: 0%;
    background-color: white;
    color: #4188b9;
    border: 1px solid #4188b9;
    padding: 0.375rem 2rem;
    margin: 0.625rem 10px 0 0;
    width: fit-content;
}
